@import "../../styles/colors";

.menu {
  visibility: hidden;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: $grey;
  width: 400px;
  z-index: 2;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05), 60px 60px 80px rgba(0, 0, 0, 0.35);
  padding: 20px;
  border-radius: 40px 40px 40px 5px;


  &__close {
    padding: 0 0 20px;

    button {
      background: none;
      border: none;
      cursor: pointer;
      display: block;
      margin-left: auto;
    }
  }

  &__list {
    margin-bottom: 40px;

    &-item {
      padding: 20px 0;
      border-bottom: 0.5px solid $white;
      cursor: pointer;

      &:hover {
        background-color: rgba($black, 0.02);
      }

      &:first-child {
        border-top: 0.5px solid $white;
      }

      svg {
        margin-right: 22px;
      }
    }
  }

  &__contact .whats-app {
    width: 100%;
  }
}

.openMenu {
  visibility: visible;
}